@model IEnumerable<Servicios.Dominio.clientes>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center"> LISTADO DE CLIENTES </h2>

<p>
    @Html.ActionLink("Agregar nuevo Cliente", "Nuevo", null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idpais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fonoCliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idpais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fonoCliente)
        </td>
        <td>
            @Html.ActionLink("Actualizar", "Actualizar", new { cod=item.IdCliente }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { cod=item.IdCliente }, new { @class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
